
#engineers #machines {
  background-color: rgba(222, 189, 255, 0.328);
}

.btn-success {
  background-color:#796A95 !important;
}

.btn-warning {
  background-color:#95796A !important;
}

.btn-info {
  background-color:#6A9579 !important;
}