
#engineers #machines {
  background-color: rgba(222, 189, 255, 0.328);
}

.btn-success {
  background-color:#796A95 !important;
}

.btn-warning {
  background-color:#95796A !important;
}

.btn-info {
  background-color:#6A9579 !important;
}

body {
  background-color:#AEB4C9;
}

ul{
  border: 5px solid #2b38309a;
  border-radius: 10px;
  text-align: center;
}

li {
  border: 2px solid #c5e6d086;
}